#myTopnav.topnav
  - if user_signed_in?
    = link_to 'Все списки', lists_path
    = link_to 'Новый список', new_list_path
    = link_to 'Все завершенные задачи', archived_task_path
    = link_to 'Выйти', destroy_user_session_path, method: :delete
  - else
    = link_to 'Войти', new_user_session_path
